<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<p>
			There is the header: app logo and the buttons...
			{{ linkTo('main', 'Home') }}
			{% if currentUser %}
				&nbsp;
				{{ linkTo('add', 'Add') }}
				{% if currentUser.isAdmin %}
					&nbsp;
					{{ linkTo('users', 'Users')}}
				{% endif %}
				&nbsp;
				{{ linkTo('profile', currentUser.username) }}
				&nbsp;
				{{ linkTo('logout', 'Logout') }}
			{% else %}
				&nbsp;
				{{ linkTo('login', 'Login') }}
				&nbsp;
				{{ linkTo('signup', 'Signup') }}
			{% endif %}
		</p>

		{% if old('errors') %}
			<ul>
				{% for error in old('errors') %}
					<li style="color: red">
						{{ error.message }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if old('infos') %}
			<ul>
				{% for info in old('infos') %}
					<li style="color: green">
						{{ info.message }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% block content %}{% endblock %}
	</body>
</html>
