<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="/style.css" rel="stylesheet">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Open Data Hub</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						{% if currentUser %}
							<li>
								{{ linkTo('add', 'Add') }}
							</li>
							{% if currentUser.isAdmin %}
								<li>
									{{ linkTo('users', 'Users')}}
								</li>
							{% endif %}
							<li>
								{{ linkTo('profile', currentUser.username) }}
							</li>
							<li>
								{{ linkTo('logout', 'Logout') }}
							</li>
						{% else %}
							<li>
								{{ linkTo('login', 'Login') }}
							</li>
							<li>
								{{ linkTo('signup', 'Signup') }}
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		{% if old('errors') %}
			{% for error in old('errors') %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error.message }}
				</div>
			{% endfor %}
		{% endif %}

		{% if old('infos') %}
			{% for info in old('infos') %}
				<div class="alert alert-dismissible alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ info.message }}
				</div>
			{% endfor %}
		{% endif %}

		{% block content %}{% endblock %}
	</body>
</html>
