<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<p>
			There is the header: app logo and the buttons...
			<a href="/">home</a>
			{% if currentUser %}
				&nbsp;
				<a href="/dataset/add">add</a>
				{% if currentUser.isAdmin %}
					&nbsp;
					{{ linkTo('users', 'users')}}
				{% endif %}
				&nbsp;
				{{ linkTo('profile', currentUser.username)}}
				&nbsp;
				{{ linkTo('logout', 'logout') }}
			{% else %}
				&nbsp;
				{{ linkTo('login', 'login')}}
				&nbsp;
				{{ linkTo('signup', 'signup')}}
			{% endif %}
		</p>

		{% if old('errors') %}
			<ul>
				{% for error in old('errors') %}
					<li style="color: red">
						{{ error.message }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if old('infos') %}
			<ul>
				{% for info in old('infos') %}
					<li style="color: green">
						{{ info.message }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% block content %}{% endblock %}
	</body>
</html>
