<div class="modal" id="confirm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Are you sure?</h4>
			</div>
			<div class="modal-body">
				It cannot be undone.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success modal-positive" data-dismiss="modal">YES</button>
				<button type="button" class="btn btn-danger modal-negative" data-dismiss="modal">NO</button>
			</div>
		</div>
	</div>
</div>
