{% extends 'base' %}

{% block title %}
	Open Data Hub
{% endblock %}

{% block content %}
	<strong>summary:</strong>
	{{ dataset.summary }}
	<br/>
	<strong>description:</strong>
	{{ dataset.description }}
	<br/>
	<strong>format:</strong>
	{{ dataset.format }}
	<br/>
	<strong>link:</strong>
	{{ dataset.link }}
	<br/>
	<strong>access:</strong>
	{{ dataset.access }}
	<br/>
	<strong>rate:</strong>
	{{ dataset.rate }}
	<br/>
	<strong>created_at:</strong>
	{{ dataset.created_at }}
	<br/>
	<strong>updated_at:</strong>
	{{ dataset.updated_at }}
	<br/>
{% endblock %}
