{% extends 'base' %}

{% block title %}
	Login
{% endblock %}

{% block content %}
	{{ form.open({route: 'doLogin'}) }}

	{{ csrfField }}

	<fieldset>
		{{ form.label('Username') }}
		{{ form.text('username') }}
	</fieldset>

	<fieldset>
		{{ form.label('Password') }}
		{{ form.password('password') }}
	</fieldset>

	{{ form.submit('Login') }}

	{{ form.close() }}
{% endblock %}
