{% extends 'base' %}

{% block title %}
	Open Data Hub
{% endblock %}

{% block content %}
	{% for dataset in datasets %}
		<p>
			<a href={{ "dataset/" + dataset.id}}>{{ dataset.summary }}</a>
		</p>
	{% else %}
		<p>
			No datasets found :(
		</p>
	{% endfor %}
{% endblock %}
