{% extends 'base' %}

{% block title %}
	Open Data Hub
{% endblock %}

{% block content %}
	<ul class="list-group">
		{% for dataset in datasets %}
			<a href="dataset/{{dataset.id}}/show" class="list-group-item">
				<span class="badge">{{ dataset.format }}</span>
				{{ dataset.summary }}
			</a>
		{% endfor %}
	</ul>
{% endblock %}
