{% extends 'base' %}

{% block title %}
	Open Data Hub
{% endblock %}

{% block content %}
	{% for dataset in datasets %}
		<p>
			summary:
			{{ dataset.summary }}
			<br/>
			description:
			{{ dataset.description }}
			<br/>
		</p>
	{% else %}
		<p>
			No datasets found :(
		</p>
	{% endfor %}
{% endblock %}
