{% extends 'base' %}

{% block title %}
	Modify Dataset
{% endblock %}

{% block content %}
	{{ form.open({action: 'DatasetController.modify', params: {id: dataset.id} }) }}

	{{ csrfField }}

	<fieldset>
		{{ form.label('Summary') }}
		{{ form.text('summary', dataset.summary, {}) }}
	</fieldset>

	<fieldset>
		{{ form.label('Description') }}
		{{ form.textarea('description', dataset.description, {}) }}
	</fieldset>

	<fieldset>
		{{ form.label('Format') }}
		{{ form.text('format', dataset.format, {}) }}
	</fieldset>

	<fieldset>
		{{ form.label('Link') }}
		{{ form.text('link', dataset.link, {}) }}
	</fieldset>

	<fieldset>
		{{ form.label('Access') }}
		{{ form.textarea('access', dataset.access, {}) }}
	</fieldset>

	{{ form.submit('Modify', 'modify', null) }}

	{{ form.close() }}
{% endblock %}
