{% extends 'base' %}

{% block title %}
	Profile
{% endblock %}

{% block content %}
	<div class="text-center">
		<form class="form-horizontal wrap" action="{{ 'modifyProfile' | route }}" method="POST">
			{{ csrfField }}
			<fieldset>
				<div class="form-group">
					<input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" value="{{ currentUser.username }}" disabled="true">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="inputEmail" name="email" placeholder="Email" value="{{ currentUser.email }}">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Modify</button>
				</div>
			</fieldset>
		</form>
	</div>
{% endblock %}
