{% extends 'base' %}

{% block title %}
	Sign Up
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<form class="form-horizontal" action="{{ 'doSignup' | route }}" method="POST">
				{{ csrfField }}
				<fieldset>
					<div class="form-group">
						<div class="col-lg-14">
							<input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" value="{{ old('username') }}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-14">
							<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" value="{{ old('password') }}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-14">
							<input type="text" class="form-control" id="inputEmail" name="email" placeholder="Email" value="{{ old('email') }}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-6 col-lg-offset-3">
							<button type="submit" class="btn btn-primary">Sign Up</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
