{% extends 'base' %}

{% block title %}
	Sign Up
{% endblock %}

{% block content %}
	{{ form.open({action: 'UserController.signup'}) }}

	{{ csrfField }}

	<fieldset>
		{{ form.label('Username') }}
		{{ form.text('username', null, {}) }}
	</fieldset>

	<fieldset>
		{{ form.label('Password') }}
		{{ form.password('password', null, {}) }}
	</fieldset>

	<fieldset>
		{{ form.label('Email') }}
		{{ form.email('email', null, {}) }}
	</fieldset>

	{{ form.submit('Sign Up', 'signup', {}) }}

	{{ form.close() }}
{% endblock %}
