{% extends 'base' %}

{% block title %}
	Manage Users
{% endblock %}

{% block content %}
	{{ form.open({action: 'UserController.delete'}) }}

	{{ csrfField }}

	{% for user in users %}
		<fieldset>
			<strong>username:</strong>
			{{ form.label(user.username) }}
			<strong>email:</strong>
			{{ form.label(user.email) }}
			{% if user.isAdmin %}
				<strong>admin</strong>
			{% else %}
				<strong>delete:</strong>
				{{ form.checkbox(user.id, null, false) }}
			{% endif %}
		</fieldset>
	{% else %}
		<p>
			No users found :(
		</p>
	{% endfor %}

	{{ form.submit('Delete', 'delete', {}) }}

	{{ form.close() }}
{% endblock %}
